.comment_info {
  background-color: rgb(116, 111, 108);
  width: 80%;
  padding: 20px;
  border: 1px solid black;
  margin-top: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.name {
  color: #e6f4e8;
}
